$pallete: (
  black: (
    100: #cecece,
    200: #6d6d6d,
    300: #3f3f3f,
    400: #1f1f1f,
    500: #0c0c0c,
    700: #090909,
    900: #060606,
  ),
  yellow: (
    100: #fff4d0,
    200: #fedb79,
    300: #f3d16c,
    400: #ffd140,
    500: #f3be29,
    700: #bc9119,
    900: #80620d,
  ),
  red: (
    100: #fdd5ce,
    200: #f28472,
    300: #f16559,
    400: #e84e2d,
    500: #e0391d,
    700: #ad2711,
    900: #771808,
  ),
  green: (
    100: #cce9e6,
    200: #68bab1,
    300: #63bea5,
    400: #1fae90,
    500: #0a8678,
    700: #04685d,
    900: #01473f,
  ),
  blue: (
    100: #d5deff,
    200: #aebfff,
    300: #88a0fe,
    400: #6383fb,
    500: #4166f5,
    700: #2c4abd,
    900: #1a2f80,
  ),
  white: (
    500: #fff,
    700: #bfbfbf,
    900: #808080,
  ),
);
